# Multi Platform Project Folder
bin/
proj.android/
proj.ios_mac/
cocosstudio/
proj.win32/
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.java

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
NumberPuzzle.ccs
NumberPuzzle.cfg
proj.androidstudio
